
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Hizmet Ekleme Sayfası</h2>

<form method="post">
    <label>Hizmet</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>