
@{
    ViewBag.Title = "CreateExpertise";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Proje Ekleme Sayfası</h2>

<form method="post">
    <label>Proje İsmi</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Durumu</label>
    <input type="text" name="Description" class="form-control" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>


