

@{
    ViewBag.Title = "createSkill";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Yetenek Ekleme Sayfası</h2>

<form method="post">
    <label>Yetenek Başlığı</label>
    <input type="text" name="SkillName" required class="form-control" />
    <br />
    <label>Yetenek Değeri</label>
    <input type="number" name="Rate" required class="form-control" />
    <br />
    <button class="btn btn-success">Kaydet</button>

</form>
