<div class="container-fluid footer bg-dark border-bottom-0">
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="row g-0">
            <div class="col-12">
                <div class="footer-content h-100 pt-6 ps-6 pb-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-12 text-center">
                            <div class="d-flex justify-content-center">
                                @Html.Action("PartialSocialMediaFooter", "Default")
                                @*<a class="btn btn-light btn-md-square me-3" href="https://tr-tr.facebook.com/login.php/"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-light btn-md-square me-3" href="https://x.com/i/flow/login"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-light btn-md-square me-3" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-light btn-md-square me-0" href="https://www.linkedin.com/in/elif-y%C4%B1ld%C4%B1r%C4%B1m-97a89b233?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>*@
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <span class="text-body"><a href="#" class="border-bottom text-white"><i class="fas fa-copyright text-body me-2"></i>Elif Yıldırım</a>, Tüm Hakları Saklıdır.</span>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
