
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
          <table class="table table-bordered">
              <tr>
                  <th>Kategory Id</th>
                  <th>Kategory Adı</th>
                  <th>Kategory Durum</th>
                  <th>Detaylar</th>
              </tr>
              <tr>
                  <td>1</td>
                  <td>sebze meyve</td>
                  <td>aktif</td>
                  <td><button class="btn btn-primary">detaylar</button></td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>içecek</td>
                  <td>aktif</td>
                  <td><button class="btn btn-primary">detaylar</button></td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>tatlılar</td>
                  <td>aktif</td>
                  <td><button class="btn btn-primary">detaylar</button></td>
              </tr>
          </table>
</div>