<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
    <div class="rounded">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.836666659682!2d32.83455397560406!3d39.87789637153121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d345ed3b285673%3A0x13f177a2ad7798e5!2sDikmen%20Cd%2C%20%C3%87ankaya%2FAnkara!5e0!3m2!1str!2str!4v1728063088140!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        
    </div>
</div>
