@model PortfolioProjectNight.Models.About

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Hakkımda </h2>

<form method="post">
    @Html.HiddenFor(x => x.AboutId)
    <label></label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Resmin Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 5, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Hakkımda Bilgileri Güncelle</button>
</form>
